<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <title>BlackShineLogin</title>
    <link rel="stylesheet" href="/checkLott.css"/>
    <link rel="stylesheet" href="/nav.css"/>
</head>

<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
          <i class="fas fa-bars"></i>
        </label>
        <a href="/"><img src="/รูปภาพ/LOGO2.png" class="logo"/></a>
        <div class="BGnav"></div>
        <ul>
          <li class="item"><a href="/news">NEWS</a></li>
          <li class="item"><a href="/download">Download</a></li>
          <li class="item"><a href="/community">Community</a></li>
          <li class="item button"><a href="/logout" class="btn2">LogOut</a></li>
        </ul>
      </nav>
    <div class="BGIMG"></div>
      <div class="table-menu">
            <div class="BGcontainer">

                <div class="container1">
                        <form action="/check" method="get">
                            <label class="formcontent">reward check</label>
                            <input class="formcontent" type="text" name="checkNum" id="checkNum">
                            <button type="submit" class="btn">submit</button>
                        </form>
                </div>
        
            </div>
        </div>
        
        <div class="container2">
            
        </div>

        <footer>
          <p>© 2021 BlackShine the Series</p>
        </footer>
</body>
</html>