<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BlackShineLogin</title>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/index.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
  </head>

  <body>
    <div class="main">
      <div class="submain1">
          <div class="BGIMG"></div>
          <div class="table-menu">
            <div class="content-index">
              <img src="/รูปภาพ/LOGO2.png" class="logo2"/>

              <div>
                <a href="/checkLott" class="btn">let's start</a>
                <a href="/download.ejs" class="btn">DownLoad</a>
              </div>

            </div>
          </div>
        </div>

      <footer>
        <p>© 2021 Lottery Legend </p>
      </footer>

    </div>
  </body>
</html>
